<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="#{account.title}"></title>

    <link href="/static/favicon.ico" rel="icon">
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href="/static/css/style.min.css" rel="stylesheet">
</head>
<body>
    <section style="background-color: #eee">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li style="margin-left: 10px;"><a href="/logout" th:text="#{account.logout}"></a></li>
                        <li class="breadcrumb-item"><a href="/" th:text="#{account.home}"></a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{account.user}"></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <form id="uploadForm" class="avatar-wrapper" method="post" th:action="@{/account/avatar}" enctype="multipart/form-data">
                            <img th:src="${userAvatar} != null ? ${'data:image;base64,' + userAvatar} : '/static/img/default_avatar.png'"
                                 alt="avatar" class="rounded-circle img-fluid profile-pic">
                            <div class="upload-button">
                                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                            </div>
                            <input class="file-upload" name="image" id="imageInput" type="file" accept="image/*"/>
                        </form>
                        <h5 class="my-3" th:text="${user.getUsername()}"></h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0" th:text="#{account.username}"></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${user.getUsername()}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"th:text="#{account.password}"></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="btn btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#pass-modal" th:text="#{account.changePassword}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0" th:text="#{account.apiToken}"></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" id="hash" th:text="${user.getTokenHash()}"></p>
                                <p class="mt-2 mb-0 btn btn-sm" id="change-token" th:text="#{account.changeToken}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="pass-modal" tabindex="-1" aria-labelledby="pass-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <span class="anchor" id="formChangePassword"></span>
            <div class="modal-header text-center">
                <h3 class="modal-title w-100" id="pass-modalLabel" th:text="#{account.modal.title}"></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header text-center d-none" id="pass-error-header" style="padding: 5px">
                <h5 class="modal-title w-100" id="pass-error" style="color: red"></h5>
            </div>
            <div class="modal-header text-center d-none" id="pass-success-header" style="padding: 5px">
                <h5 class="modal-title w-100 text-success" id="pass-success" th:text="#{account.modal.success}"></h5>
            </div>
            <div class="modal-body">
                <form class="form" role="form" autocomplete="on" id="pass-form">
                    <div class="form-group">
                        <label for="inputPasswordOld" th:text="#{account.modal.oldPassword}"></label>
                        <input type="password" class="form-control" id="inputPasswordOld" required="required">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNew" th:text="#{account.modal.newPassword}"></label>
                        <input type="password" class="form-control" id="inputPasswordNew" required="required">
                        <span class="form-text small text-sm text-muted" th:text="#{account.modal.newPassword.description}"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNewVerify" th:text="#{account.modal.verifyPassword}"></label>
                        <input type="password" class="form-control" id="inputPasswordNewVerify" required="required">
                        <span class="form-text small text-muted" th:text="#{account.modal.verifyPassword.description}"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{account.modal.close}"></button>
                    <button type="submit" class="btn btn-success float-right" id="send-pass" th:text="#{account.modal.save}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="/static/js/account.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let errOldPass = /*[[#{account.errors.oldPasswordNull}]]*/ '';
    let errNewPass = /*[[#{account.errors.newPasswordNull}]]*/ '';
    let errVerifyPass = /*[[#{account.errors.verifyPasswordNull}]]*/ '';
    let errVerifyPassMatch = /*[[#{account.errors.newPassword.match}]]*/ '';
    let errNotEquals = /*[[#{account.errors.notEquals}]]*/ '';
    let errWrongPass = /*[[#{account.errors.wrongPassword}]]*/ '';
    let errSome = /*[[#{account.errors.error}]]*/ '';
    /*]]>*/
</script>

</html>