<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SevlerSite - Registration</title>

    <link href="/favicon.ico" rel="icon">
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="/static/css/login.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" action="#" th:action="@{/registration}" method="post" th:object="${user}">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="nickname" placeholder="Username" th:field="*{username}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="repeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <input class="btn btn-primary btn-user btn-block" id="registration" type="submit" value="Register Account" />
                                <hr>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<script src="/static/js/login.min.js"></script>

<script>
    let password = document.getElementById("password");
    let passwordValidate = document.getElementById("repeatPassword");
    let registration = document.getElementById("registration");
    let nickname = document.getElementById("nickname");

    registration.onclick = function() {
        if (nickname.value == null || nickname.value.length < 3) {
            alert("Nickname must contains 3 and more symbols!");
            return false;
        }

        if (password.value != passwordValidate.value) {
            alert("Passwords must be equals!");
            return false;
        }

        if (password.value == null || password.value.length < 8) {
            alert("Password must contains 8 and more symbols!");
            return false;
        }
    }
</script>

</html>